.menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    z-index: 100;
    left: -25%; 
    width: 180px; 
    transition: 0.3s left ease;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.menu-content a:hover {
    color:#f87d2b;
}
.subdropdown {
    display: none;
    background-color: #fff;
    top: 0;
    left: 98%;
    width: 325px;
    height: 264px;
}
.seccion-2,.seccion-1,.seccion-3{
    float: left;
}
.subdropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    text-align: left;
}
.seccion-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.subdropdown a:hover {
    border:none;
    border-left: 3px solid white;
    color: #f87d2b;
}