#sticky-nav{
    height:94px; 
    background-color:#EE7323; 
}
.logo{
    width: 55%;
}
.buton{
    width: 0%;
}
.secciones{
    width: 46%;
}

.menu-content {
    display: none;
    background-color: #fff;
    top: 100%;
    left:-50%; 
    width: 180px; 
    transition: 0.3s left ease;
}

.menu-content a {
    display: block;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.menu-content a:hover {
    color:#f87d2b;
    background-color: #f3f2f2;
}
.subdropdown {
    display: none;
    background-color: #fff;
    top: 0;
    left: 98%;
    width: 325px;
    height: 264px;
}
.seccion-2,.seccion-1,.seccion-3{
    float: left;
}
.subdropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    text-align: left;
}
.seccion-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.subdropdown a:hover {
    border:none;
    border-left: 3px solid white;
    color: #f87d2b;
}
.linked{
    color:grey;
}
.linked:hover{
    color: white;
  background-color:#FC924D ;
}
main{
    width: 100%;
    min-height:100vh;
    background-color: #fff;
}
section{
    height: 100%;
    width: 100%;
}
.c-item{
    height: 480px;
}
.c-image{
    height: 100%;
    filter: brightness(0.4);
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    color: dodgerblue;
}
.row{
    max-width: 100%;    
}
.card {
    height: 350px;
    margin: 15px 5px 20px 5px;
}
.card img {
    height: 70%;
    width: 100%;
}
.custom-card-content {
    padding: 15px;
    display: block;
    height: 30%;
}


@media(max-width: 991px){
    #sticky-nav{
        position: sticky;
        top: 0;
        z-index: 100;
        height: 87px;
    }
    header{
        display: none;
    }
    nav{
        text-align:start;
        display:flex;

    }
    .c-item{
        height: 30vh;
    }

    .logo{
        width: 90%;
        display: flex;
        justify-content: start;
    }
    .buton{
        width: 50%;
        display: flex;
        
    }
    
    .secciones{
        display: none;
        width: 0%;
        height: 0%;
    }
    footer{
        height: 11vh;
    }
    
}  
@media(max-width:767px){
    .c-item{
        height: 30vh;
    }

}
@media(max-width:574px){
    #hero-carousel{
        border-radius: 7px;
    }
    .c-item{
        height: 15vh;
        border-radius: 8px;
    }
   .c-image{
        border-radius: 8px;
   }
}
