* {
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.logo{
    background-color: #fff;

}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: #F2F3F4;
}
section{
    min-height:100%;
    width: 100%;
}
.redes{
    display: flex;
    justify-content: center;
}
.list{
    display: none;
}
.col{
    max-width: 100%;
}
.row{
    max-width: 100%;
}
.container-fluid{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
}
.container-fluid i{
    color: black;
}
.container-fluid span{
    color: black;
}
.card{
    height: 320px;
    /*
    top: 0;
    transition: 0.5s box-shadow ease;
    transition: 0.5s top ease;
    */
    margin: 0 0 20px 0;
    transition: transform 0.2s;
}

.card img{
    height: 65%;
    object-fit: contain;
}
.custom-card-content{
    height: 35%;
}
.custom-card-price{
    height: 20%;
}
.custom-card-tittle{
    height: 35%;
    
    padding-left: 5px;
}
.card:hover{
    cursor: pointer;
    /*
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.349) ;
    top: -5px;
    transition: 5s top ease;
    transition: 0.1s box-shadow ease;
    */
    transform: scale(1.04);
  }   
#sticky-sidebar{
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 100;
}
.nav-link{
    font-style: bold;
    color: black;
}
.nav-link:hover{
    color: gray;
}

.buton button{
    border:none;
    background-color: transparent;
}
footer{
    width: 100%;
    height: 16vh;
    background-color:#626567 ;
    display: block;
    justify-content: center;
    align-items: center;
}
 footer h6{
    font-size: 11px;
    color: #fff;
}
.ctn-f-user{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: end;
}
 .ctn-f-user button{
    border: none;
    background-color: transparent;
}
.ctn-f-user i{
    color: #fff;
}
.ctn-f{
width: 100%;
height: 20%;
display: flex;
justify-content: center;
}
.ctn-f-s{
width: 100%;
height: 25%;
display: flex;
justify-content: center;
}
.ctn-f-f{
    width: 100%;
    height: 25%;
} 
@media(max-width: 991px){
    footer{
        height: 11vh;
    }
    .ctn-f-user{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .buton{
        width: 40%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .buton button{
        margin: 10px;
    }
    .logo{
        width: 60%;
        display: flex;
        justify-content: start;
    }
    .logo img{  
        object-fit: contain;
    }
}  
@media(max-width:575px){
    header{
        height: 60px;
    }
    .list{
    display: block;
    }
}