section{
    width: 100%;
    height: 100vh;
    display: block
    
}
.container-fluid{
    width: 100%;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: 60%;
    width: 40%;
}
.lineas{
    width: 100%;
    display: flex;
    justify-content: center;
}
.line1{
    margin-top: 50px;
    width: 70%;
    height: 1px;
    background-color: gray;
}
.line2{
    margin-top: 50px;
    width: 70%;
    height: 1px;
    background-color: gray;
}
.boton{
    width: 22%;
    display: flex;
    justify-content: end;
}
.boton button{
    border-radius: 7px;
    border-color: white;
    height: 30px;
}