
nav{
    position: absolute;
    height:94px; 
    background-color:#EE7323; 
}
.electronica{
    width: 75%;
}
.logo{
    width: 52%;
}
.buton{
    width: 0%;
}
.secciones{
    width: 48%;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu-content {
    display: none;
    background-color: #fff;
    top: 100%;
    left:-25%; 
    width: 180px; 
    transition: 0.3s left ease;

}

.menu-content a {
    display: block;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.menu-content a:hover {
    color:#f87d2b;

}
.subdropdown {
    display: none;
    background-color: #fff;
    top: 0;
    left: 98%;
    width: 325px;
    height: 264px;
    z-index: 100;
}
.seccion-2,.seccion-1,.seccion-3{
    float: left;
}
.subdropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    text-align: left;
}
.seccion-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.subdropdown a:hover {
    border:none;
    border-left: 3px solid white;
    color: #f87d2b;
}
.linked{
    color:grey;
}
.linked:hover{
    color: white;
  background-color:#FC924D ;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    padding-top: 94px; 
}
section{
    height: 100%;
    width: 100%;
}
.c-item{
    height: 70vh;
}
.c-image{
    height: 100%;
    filter: brightness(0.4);
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    color: dodgerblue;
}
.row{
    max-width: 100%;    
}
.card {
    margin: 15px 5px 20px 5px;
}

.custom-card {
    position: relative;
    overflow: hidden;
    height: 250px;
    margin: 15px 5px 20px 5px;
  }


  .custom-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .custom-card .overlay-button {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
  }
.card-produ{
    height: 250px;
    
}
.card-body{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float:right;
}
.card-tittle{
    width: 100%;
    height: 40%;
}
.card-text{
    width: 100%;
    height: 60%;
}
.img-wrapper{
    max-width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
.previus, .nextt{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.7;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
.previus:hover, .nextt:hover{
 opacity: 0.9;
}

@media(max-width: 991px){
    nav{
        position: sticky;
        top: 0;
        z-index: 100;
 
    }
    .social-media{
        display: none;
    }
    main{
        padding-top:0px;
    }
    .electronica{
        width: 90%;
    }
    .c-item{
        height: 30vh;
    }

      footer{
        height: 11vh;
    }
    .empty{
        height: 30px;
    }
}  
@media(max-width:574px){
    .c-item{
        height: 15vh;   
    }
    
}

@media screen and (min-width:576px){
    .carousel-multiple-items .carousel-inner {
    display: flex;
}

.carousel-multiple-items .carousel-item {
    display: block; 
    margin-right: 0;
    flex: 0 0 calc(100%/3); 
}

.carousel-multiple-items .carousel-inner {
    padding: 1em;
}
}
@media screen and (min-width:1281px){
    .carousel-multiple-items .carousel-inner {
    display: flex;
}

.carousel-multiple-items .carousel-item {
    display: block; 
    margin-right: 0;
    flex: 0 0 calc(100%/5); 
}

.carousel-multiple-items .carousel-inner {
    padding: 1em;
}
}
   
